{
   
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "singleQuote": true,
  "parser": "flow",
  "printWidth": 120,
  "semi": true,
  "useTabs": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "endOfLine": "auto"
   
  }