/* all content */
.content {
    grid-column: 2/11; 
  }
  @media(max-width:1500px){
    .content {
        grid-column: 1/12; 
      } 
  }
.content h1 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}
.content-wrapper {
   display: grid;
   grid-template-columns: repeat(3, minmax(0, 1fr));
    
}

.left {
    grid-column: 1/2;
}
.middle{
    grid-column: 2/3;
}
.right{
grid-column: 3/4;
}
@media(max-width: 1100px){
    .content {
        margin: 70px 10px
      } 
    .content-wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
        grid-template-rows: repeat(2,1fr);
     } 
     .left {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .middle{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .right{
    grid-column: 1/3;
    grid-row: 2/3;

    }
}
/* specyfic side */

.left,.right{
    border-top: 1px solid;
    text-align: center;
}

/* left side  */
.left h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    margin-top: 25px;
}
.left p:first-child {
    letter-spacing: 1px;
    font-weight: bold;
    margin:40px 0;
}
.btn{
    margin: 50px 0;
}
.left div button {
   display: block;
    width: 60%;
    margin: 0 auto;
    padding: 10px 15px;
    font-size: 24px;
    color: rgb(7, 28, 65);
    background-color: #fff;
    border: none;
    border-top: 2px solid rgb(141, 141, 156);
    border-bottom: 2px solid rgb(141, 141, 156);
    letter-spacing: 2px;
    transition: all .25s;
}
.left div button:hover {
    letter-spacing: 10px;
}
.attention{
    padding:0 7px;  
}
.attention h3{
    text-decoration: underline;
}
.attention h4{
    text-transform: uppercase;  
}
 .left p.attention-wrapper{   
    text-align: justify;
    font-weight: 400;
    border-style: inset;
    margin-bottom: 0;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    color: rgb(7, 28, 65);
}
.left p.attention-wrapper span{  
    text-decoration: underline;
}

/* right side */


/* container */
div.container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

/* navigation */
ul.main-menu {
    display: flex;
    align-items: stretch;
    justify-content: center;
    list-style: none;
    margin: auto;
    padding: 0.2em 0 0 0;
}

ul.main-menu > li {
    box-sizing: border-box;
    padding: 10px 15px;
    margin: 1px;
    transition: 0.5s linear all;
    background: rgb(141, 141, 156);
    color: black;
    cursor: pointer;
    font-size: 13px;
    user-select: none;
}
ul.main-menu > li{
    clip-path: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
    shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
}
ul.main-menu > li:nth-child(2) {
    transform: translateX(-5%);
}
ul.main-menu > li:nth-child(3) {
    transform: translateX(-10%)
}
ul.main-menu > li:nth-child(4) {
    transform: translateX(-15%)
}
ul.main-menu>li:hover {
    background: linear-gradient(to right, rgb(7, 28, 65), rgb(141, 141, 156));
    color: white;
}
ul.main-menu .active {
    color: white;
    background:rgb(7, 28, 65);
    font-size: 16px;
}
ul.main-menu>li.active:hover {
    background:rgb(7, 28, 65);
}

div.right-wrapper {
    margin-top: 40px;
    padding: 0 7px;
}
/* info container */
.info ol.lists {
    text-align: justify;
    line-height: 40px;
}
.info ol.lists li span {
    font-weight: bold;
}

/* specyfication container */
.specyfication ul, .authors ul  {
        list-style-type: none;
        text-align: left;
        margin-top: 20px;
        padding: 5px;
}
.specyfication ul li {
   margin-top: 12px;
}
.specyfication ul li span{
    text-transform: uppercase;
    font-weight: bold;
}

/* authors container */
.authors p {
    text-align: justify;
}
.authors ul{
    text-align: center;
}
.authors ul li {
    letter-spacing: 2px;
    margin-top: 15px;
}
