@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@100;400;800&family=Raleway:ital,wght@0,400;1,100;1,800&display=swap');


.App {
height: 100vh;
font-family: 'Montserrat', sans-serif;
display: grid;
grid-template-columns: repeat(11, 1fr);
grid-template-rows: minmax(60px, 90px) 1fr minmax(20px, 40px);
}

